<div class="game-container">
  <div class="game-info">
    <div>🚩 {{ flagsRemaining() }}</div>
    @if (gameState() === GameState.Won || gameState() === GameState.Lost) {
      <div class="game-over-message">
        {{ gameState() === GameState.Won ? 'You Won!' : 'You Lost!' }}
      </div>
    }
    <button (click)="resetGame()" class="reset-button">Reset</button>
    <div>{{ percentCompleted() }}%</div>
  </div>
  <div class="board">
    @for (row of board; let i = $index; track i) {
    <div class="row">
      <div class="row-indicator" [style.grid-row]="i + 1" [style.grid-column]="1">{{ i + 1 }}</div>
      @for (cell of row; let j = $index; track j) {
        <div class="cell" 
            (click)="revealCell(i, j)" 
            (contextmenu)="flagCell($event, i, j)"
            [class.revealed]="cell.isRevealed"
            [class.flagged]="cell.isFlagged"
            [style.grid-row]="i + 1"
            [style.grid-column]="j + 2">
          @if (cell.isRevealed && !cell.hasMine && cell.adjacentMines > 0) {
            <span>{{ cell.adjacentMines }}</span>
          }
          @if (cell.isRevealed && cell.hasMine) {
            <span class="mine">💣</span>
          }
          @if (cell.isFlagged && !cell.isIncorrectlyFlagged) {
            <span class="flag">🚩</span>
          }
          @if (cell.isIncorrectlyFlagged) {
            <span class="incorrect-flag">🏳️</span>
          }
        </div>
      }
    </div>
    }
    <div class="column-indicators">
      @for (col of board[0]; let j = $index; track j) {
        <div class="column-indicator" [style.grid-column]="j + 2" [style.grid-row]="board.length + 1">{{ j | columnLetter }}</div>
      }
    </div>
  </div>
</div>
